<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Ubicación</title>
</head>
<body>
    <h1>Editar ubicación</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Nombre:</label><br>
        <input type="text" name="nombre" value="{{ ubicacion.nombre }}" required><br>
        <label>Latitud:</label><br>
        <input type="text" name="latitud" value="{{ ubicacion.latitud }}" required><br>
        <label>Longitud:</label><br>
        <input type="text" name="longitud" value="{{ ubicacion.longitud }}" required><br><br>
        <button type="submit">Guardar cambios</button>
    </form>
    <a href="{% url 'index' %}">Volver</a>
</body>
</html>
